---
layout: default
title: Home
---

<!-- Home Jumbotron
    ================================================== -->    
<section class="intro full-width">
    <div class="wrapintro">
        <h1>Chris KY Fung's Page</h1>
        <h2 class="lead">Feel free to bookmark this to keep an eye on my project updates</h2>    
        <a href="{{ site.baseurl }}/blog/" class="btn">Latest posts</a>
    </div>
</section>

    
<!-- Featured
    ================================================== -->
<section class="featured-posts">
    
    <div class="section-title">
        <h2><span>Featured</span></h2>
    </div>
    
    <div class="row listfeaturedtag">
        
        {% for post in site.posts %}
        
        {% if post.featured == true %}
        
        {% include featuredbox.html %}
        
        {% endif %}
        
        {% endfor %}
        
    </div>
    
</section>

<section class="recent-posts row">

    <div class="col-sm-4">
        {% include sidebar.html %}
    </div>

    <div class="col-sm-8">

        <hr>

        <section class="article-post">
            <h2 class="mt-4"><i class='fas fa-bong'></i> Welcome to my New Site</h2>
            
            <p>This site is a new version of my old site "<a href="https://chrisfung1125.wixsite.com/research-blog/" target="_blank">Blog of a POLIDA post-grad II .</a>" which was hosting in Wix.com. Now it has been moved to the GitHub page. It should deliver a much faster page loading speed and a nicer display of codes. I hope you will better enjoy my content.</p>
            
        </section>

        <hr>
        
        <section id="projects" class="article-post">
            <div class="section-title">
                <h2><span>Pinned Projects</span></h2>    
            </div>

            <section id="academic-project-list">
                <h3 class="section-title">Academic Projects</h3>
            
                <p class="keywords"><i>keywords: Molecular Dynamics, LAMMPS, OVITO</i></p>
                
                <h4 class="project-title"><i class='fas fa-atom'></i> <i class='fas fa-flask'></i> <i class="fas fa-university"></i><br><a href="{{ site.baseurl }}/tag/lammps">Skills and User Tips for "Large-scale Atomic/Molecular Massively Parallel Simulator" (LAMMPS)</a></h4>
                
                <ul>
                    <li>How to Send a Notification from a LAMMPS Simulation to Your Email</li>
                    <li>Tip for scripting LAMMPS: Create And Rename A Folder Based On The Input Variables</li>
                    <li>[template] OVITO python modifier</li>
                </ul>
                
            </section>
            
            <section id="personal-project-list">
                <h3 class="section-title">Personal Projects</h3>
                
                <p class="keywords"><i>Qwiklabs, Instagram, Tumblr, CNC Milling</i></p>            
                
                <!-- Qwiklabs Complete Indicator -->
                <h4 class="project-title"><i class='fab fa-js'></i> <i class='fas fa-flask'></i> <i class='fas fa-tasks'></i><br><a href="{{ site.baseurl }}/blog/qwiklabs/Userscript-for-Labelling-Completed-Qwiklabs" target="_blank">Qwiklabs Complete Indicator</a></h4>
                <img alt="Qwiklabs Complete Indicator" src="https://github.com/chriskyfung/qwiklabs-complete-indicator/raw/master/demo-image2.png"/>
                
                <!-- AutoFetcher for Saving IG Stories to GDrive -->
                <h4 class="project-title"><i class="fab fa-instagram"></i>  <i class='fas fa-cloud-download-alt'></i> <i class='fab fa-google-drive'></i><br><a href="https://chriskyfung.github.io/AutoFetcher-IG-Stories-to-GDrive/" target="_blank">AutoFetcher for Saving IG Stories to GDrive</a></h4>
                <p>A Google App Script for deploying a web application that automatically fetches the available latest IG Stories of a target Instagram user to your Google Drive.</p>

                <!-- Tumblr Quick Tools in Python -->
                <h4 class="project-title"><i class='fab fa-python'></i> <i class='fab fa-tumblr-square'></i><br><a href="https://github.com/chriskyfung/pytumblrtools" target="_blank">Tumblr Quick Tools in Python</a></h4>
                <p>A set of python scripts for manipulating Tumblr blogs</p>
                
                <!-- Amazon Associates Ads Loader for Tumblr -->
                <h4 class="project-title"><i class='fab fa-js'></i> <i class='fab fa-amazon'></i> <i class='fab fa-tumblr-square'></i><br><a href="https://github.com/chriskyfung/amzn_assoc_loader_for_tumblr" target="_blank">Amazon Associates Ads Loader for Tumblr</a></h4>
                <p>A converter to change an Amazon Associates Ads script to an HTML tag</p>
                <a href="https://github.com/chriskyfung/amzn_assoc_loader_for_tumblr" target="_blank"><img src="/images/projects/amzn_assoc_loader_for_tumblr.jpg" width="700"></a>
                
                <!-- MDX LabPanel -->
                <h4 class="project-title"><i class='fas fa-wrench'></i> <i class='fas fa-tachometer-alt'></i><br><a href="https://www.craftweeks.com/software/mdxlabpanel" target="_blank">MDX LabPanel</a></h4>
                <p>GUI Control Panel for Roland MODELA MDX-15/20 CNC Machine</p>
                <a href='https://www.craftweeks.com/software/mdxlabpanel' target="_blank"><img src='https://github.com/Craftweeks/modela_mdx-15_20_control_panel_scilab/raw/master/Screenshot%20of%20v0.4.1.png' alt='image'></a>
                <br>Fig. Screenshot of v0.4
            </section>
        </section>
        
    </div>

</section>