<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">

<script src="/assets/js/jquery.min.js"></script>

<script async defer type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

<script>
jQuery(document).ready(function($){
    $('#quest-list').DataTable();
    $('#lab-list').DataTable();
} );
</script>

<style>
    .dataTables_wrapper {
        font-size: small;
    }
    .dataTables_wrapper a {
        box-shadow: unset;
        color: #6FD350;
    }

    .dataTables_wrapper a:hover {
        box-shadow: unset;
    }
</style>