{% assign img = include.img %}
<figure {% if include.class %}class="{{ include.class }}"{% endif %}>
    <picture>
        {% if include.source == "assets" %}
            {% unless include.ext == "svg" %}
            <source type="image/webp" srcset="/assets/images/{{ img }}.webp" >
            {% endunless %}
            <img src="/assets/images/{{ img }}.{{ include.ext }}" alt="{{ include.alt }}" />
        {% elsif include.source == "external" %}
            <img src="{{ img }}.{{ include.ext }}" alt="{{ include.alt }}" />
        {% elsif include.source == "projects" %}
            {% unless include.ext == "svg" %}
            <source type="image/webp" srcset="/images/projects/{{ img }}.webp" >
            {% endunless %}
            <img src="/images/projects/{{ img }}.{{ include.ext }}" alt="{{ include.alt }}" />
        {% else %}
            {% unless include.ext == "svg" %}
            <source type="image/webp" srcset="/images/posts/{{ img }}.webp" >
            {% endunless %}
            <img src="/images/posts/{{ img }}.{{ include.ext }}" alt="{{ include.alt }}" />
        {% endif %}
    </picture>
    {% if include.caption %}
        <figcaption>{{ include.caption }}</figcaption>
    {% endif %}
</figure>