<aside id="sidebar">
  {% if site.show_downloads %}
    <a href="{{ site.github.zip_url }}" class="button">
      <small>Download</small>
      .zip file
    </a>
    <a href="{{ site.github.tar_url }}" class="button">
      <small>Download</small>
      .tar.gz file
    </a>
  {% endif %}


    <h2><i class='far fa-newspaper'></i> <a href="/blog/index.html">Blog</a></h2>
    <h2><i class='fab fa-youtube'></i> <a href="https://www.youtube.com/channel/UCp0xYv7zaQmAj77GcU-msJg">YouTube Channels</a></h2>
    <ul><li><h3><a href="https://www.youtube.com/channel/UCp0xYv7zaQmAj77GcU-msJg" target="_blank">Chris's Research Channel</a></h3></li>
        <li><h3><a href='https://www.youtube.com/channel/UCGlT2itihZuRxMckNcfcA3A'>Craftweeks Channel</a></h3></li></ul>
    <h2>&nbsp;<a href="https://www.paypal.me/chrisfungky/50" target="_blank"><button class="round">Give me a help <i class='fas fa-donate'></i></button></a></h2>


  {% if site.github.is_project_page %}
    <p class="repo-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</p>
  {% endif %}

  <!-- Google Adsense -->  
  {% include googleads.html %}
</aside>
