.current {
  color: green;
}
nav {
  background-color: lightgray;
  text-align: center;
}
nav ul {
  font-weight: bold;
  list-style: none;
  display: inline-flex;
}
nav li {
  padding: 3px 10px;
}
footer {
  background-color: black;
}

#footer-copyright {
  text-align: right;
}
#footer-powered {
  text-align: right;
}

.post-date { 
  font-size: small;
  color: black;
  white-space: nowrap;
}

.page-info {
  margin-bottom: 32pt;
}
.date {
  color: dimgray;
  font-weight: bold;
  font-size: small;
  font-family: cursive;
}
.page-tags {
  margin: 20px;
}
iframe {
  max-width: 100%;
  
}

pre {
  background-color: #28323f !important;
}
pre code {
  background-color: #28323f;
  color: #ccc;
}

.round {
  border-radius: 20px;
}

.img-caption {
  font-size: small;
  text-align: center;
  margin-top: -1.25em;
}

#vig-disclose {
  margin: 1.25rem 2.5rem;
}

#___gcse_0 {
  position: absolute;
  max-width: 285px;
  right: 15px;
}

.gsc-control-cse {
  background: transparent!important;
  padding: 0!important;
  border: 0!important;
}

.gsc-control-cse form {
  padding: 0;
}