.current {
  color: green;
}
header {
  background-image: url("/images/header-bg.jpg");  
  background-repeat: no-repeat;
  background-color: #cccccc;
  background-position: center;
height: 220px;
}
header h1 {
  color: #ffffff;
  background-color: rgba(2, 62, 95, 0.39);
  font-size: 300%;
  padding: 15px;
}
header h2 {
  color: #000000;
  background-color: rgba(204, 204, 204, 0.91);
  width: 90%;
  font-size: 21px;
}
header a.button {
  background: rgba(102, 102, 102, 0.55) url(../images/github-button.png) 0 0 no-repeat;
}
nav {
  background-color: lightgray;
}
nav li {
  font-weight: bold;
  padding: 5px;
}
footer {
  background-color: dimgray;
}

#footer-copyright {
  text-align: left;
}
#footer-powered {
  text-align: right;
}
