---
layout: default
---

<!-- Begin List Posts
================================================== -->
<div class="row">
    
    <div class="col-md-8 col-lg-8">
        <div class="section-title">
            <h2><span>{{ page.title }}</span></h2>
        </div>
        
        <div class="article-post">
        {{content}}
        </div>
        
        {% if page.comments == true %}
        
        <div id="comments" class="row mb-5">
            <div class="col-md-8">              
                {% include disqus.html %}                
            </div>
        </div>
        
        {% endif %}
    </div>

    <!-- Right Sidebar -->
    <div class="col-md-4 col-lg-4">
        <div class="sidebar-right">
            {% include sidebar.html %}
        </div>
    </div>
</div>