---
layout: default
comments: true

---
<h2 class="title">{{ page.title }}</h2>

<div class="page-info">
	<span class="date"><info datetime="{{ page.date }}">
		{{ page.date | date_to_string }} {% if page.author %} by {{ page.author }} {% endif %}
	</info></span>
	<span class="page-tags">
		{% for tag in page.tags %}
		{% capture tag_name %}{{ tag }}{% endcapture %}
		<a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
		{% endfor %}
	</span>
</div>

<!-- Post content -->
<div class="notebody">
	{{ content }}
</div>

<!-- Post info -->
<div class="noteinfo">
<!-- include some categories and tags maybe? -->
</div>

<hr>

<!-- Post comments -->
{% if page.comments %}
{% endif %}

<!-- Disqus comments -->
{% include disqus.html %}